
.contact-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
}

@media(max-width:991px){
    .contact-main{
        flex-wrap: wrap;
        width: 900px;
    }
}